{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}

  <div class="page-heading header-text">
    <div class="container">
        <h3>Register page</h3>
    </div>
  </div>

  <div class="section categories related-games">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Member account</h6>
            <h2>Register</h2><br>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Register">
            </form>
            
            <style>
                input[type="text"],
                input[type="password"],
                input[type="email"] {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
                
                input[type="submit"] {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    cursor: pointer;
                    width: 200px;
                }
                
                input[type="submit"]:hover {
                    background-color: #0056b3;
                }
            </style>
            
          </div>
        </div>

        <div class="col-lg-6">
            <div class="section-heading">
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}