{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Character List</title>
{% endblock %}

{% block content %}

<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Characters</h3>
          <span class="breadcrumb"><a href="#">Home</a>  >  <a>Character</a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
        <h3>Character list</h3>
        <table id="tb-character" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Role</th>
                <th scope="col">Image</th>
              </tr>
            </thead>
            <tbody>
                {% for character in all_character %}
                    <tr>
                        <th scope="row">{{ character.id }}</th>
                        <td><a href="character/{{ character.id }}">{{ character.name }}</a></td>
                        <td>{{ character.description}}</td>
                        <td>{{ character.gender }}</td>
                        <td>{{ character.age }}</td>
                        <td>{{ character.role }}</td>
                        <td><img src="{{ character.image.url }}" alt="Image"></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
  </div>

{% endblock %}